<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		
		<!-- Desktop shortcut component -->
		<Component 
			Id="DesktopShortcutComponent" 
			Directory="DesktopFolder"
			Guid="{0824208D-B707-42F0-9AB2-FD900E503CFD}"
			Condition="CREATEDESKTOPSHORTCUT=1">
			
			<Shortcut 
				Id="DesktopShortcut"
				Name="EyeDropper"
				Target="[INSTALLFOLDER]EyeDropper.exe"
				Icon="appicon.ico"
				IconIndex="0"
				WorkingDirectory="INSTALLFOLDER" />
			
			<RemoveFolder
				Id="DesktopFolder" 
				On="uninstall" />
			
			<RegistryValue 
				Root="HKCU" 
				Key="Software\PixelProdigy\EyeDropper"
				Name="installed"
				Type="integer" 
				Value="1"
				KeyPath="yes" />
			
		</Component>

		<!-- Start Menu shortcut component -->
		<Component
			Id="StartMenuShortcutComponent" 
			Directory="ShortcutsFolder"
			Guid="{84DBACF2-8CEA-4C62-A3B0-D7EB73B9CC9C}"
			Condition="CREATESTARTMENUSHORTCUT=1">
			
			<Shortcut
				Id="StartMenuShortcut"
				Name="EyeDropper"
				Target="[INSTALLFOLDER]EyeDropper.exe" 
				Icon="appicon.ico"
				IconIndex="0"
				WorkingDirectory="INSTALLFOLDER" />

			<RemoveFolder
				Id="ShortcutsFolder"
				On="uninstall" />

			<RegistryValue
				Root="HKCU"
				Key="Software\PixelProdigy\EyeDropper"
				Name="installed" 
				Type="integer" 
				Value="1" 
				KeyPath="yes" />

		</Component>
		
	</Fragment>
</Wix>
